{% extends "layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="text-center">
            <h1>ERROR</h1>
            <h4>An internal error occurred.</h4>

            <br>

            <p>
                <a href="{{ route.index }}" class="btn btn-link">Go to home</a>
            </p>
        </div>
    </div>
{% endblock %}